/*--------------------------------------------------------------
post carousel
----------------------------------------------------------------
# carousel style
# blog
# portfolio
# service
--------------------------------------------------------------*/

.swiper-filter-active {
	.pxl-swiper-slide {
		//@include transition(all .3s cubic-bezier(.645,.045,.355,1));
	}
	.non-swiper-slide {
		display: none;
	}
}

.swiper-filter-wrap {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	.filter-item {
		display: inline-block;
		font-size: 13px;
		text-transform: uppercase;
		font-weight: 700;
		@extend .ft-theme-default;
		margin: 10px 24px;
		cursor: pointer;
		position: relative;
		z-index: 1;
		&:before {
			content: '';
			width: 11px;
			height: 41px;
			@include border-radius(11px);
			background-color: #f4f4f4;
			position: absolute;
			top: 50%;
			left: 50%;
			@include transform(translate(-50%, -50%) scaley(0));
			opacity: 0;
			@include transition(all .25s cubic-bezier(.645,.045,.355,1));
			z-index: -1;
		}
		span {
			color: #010927;
			@include transition(all .25s cubic-bezier(.645,.045,.355,1));
		}
		&.active {
			color: $primary_color;
			span {
				@extend .text-gradient;
			}
			&:before {
				opacity: 1;
				@include transform(translate(-50%, -50%) scaley(1));
			}
		}
	}
}
.pxl-swiper-arrow-style1 {
	.pxl-swiper-arrow {
		left: 50%;
		@include transform(translatex(-50%));
		right: auto;
		bottom: 0;
		top: auto;
		opacity: 1;
		visibility: visible;
		width: 40px;
		height: 40px;
		background-color: transparent;
		border: 2px solid #4b5345;
		line-height: 36px;
		color: #4b5345;
		i:before {
			content: "\f142";
			font-size: 16px;
		}
		&:hover {
			border-color: $primary_color;
			background-color: $primary_color;
		}
		&.pxl-swiper-arrow-prev {
			margin-left: -80px;
			i {
				@include transform(scalex(-1));
			}
		}
		&.pxl-swiper-arrow-next {
			margin-left: 80px;
		}
		+ .pxl-swiper-dots {
			position: absolute;
			bottom: 120px;
			left: 0;
			right: 0;
			margin: 0;
		}
	}
	.pxl-swiper-dots.pxl-swiper-pagination-fraction {
		bottom: 10px;
		font-size: 0px;
		line-height: 20px;
		span {
			font-weight: 500;
			color: #fff;
			font-size: 16px;
			display: inline-block;
			min-width: 20px;
			text-align: center;
			&.swiper-pagination-current {
				position: relative;
				margin-right: 50px;
				&:before {
					content: '';
					position: absolute;
					top: 50%;
					left: 32px;
					width: 27px;
					height: 1px;
					background-color: #fff;
				}
			}
		}
	}
}

.pxl-swiper-arrow-style2 {
	.pxl-swiper-arrow {
		opacity: 1;
		visibility: visible;
		height: 55px;
		width: 55px;
		line-height: 55px;
		font-size: 20px;
		background: transparent;
		@include box-shadow(none);
		position: static;
		@include transform(translate(0, 0));
		i {
			display: inline-flex;
		}
		svg {
			height: 55px;
			width: 55px;
			position: absolute;
			top: 0;
			left: 0;
			z-index: -1;
			@include transition(all .25s cubic-bezier(.645,.045,.355,1));
			&.item--main {
				fill: #ececec;
			}
			&.item--hover {
				opacity: 0;
			}
		}
		&.pxl-swiper-arrow-prev {
			@include transform(scalex(-1));
			margin-right: 16px;
		}
		&:hover {
			svg {
				&.item--main {
					opacity: 0;
				}
				&.item--hover {
					opacity: 1;
				}
			}
		}
	}
	.pxl-swiper-arrow-wrap {
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}
}

.pxl-swiper-arrow-style3 {
	.pxl-swiper-arrow {
		font-size: 36px;
		color: #c5d3d8;
		background-color: transparent;
		box-shadow: none;
		&:hover {
			@extend .text-gradient;
		}
		&.pxl-swiper-arrow-prev i {
			@include transform(scalex(-1));
			display: inline-block;
		}
	}
}

.pxl-swiper-dots {
	&.style2.pxl-swiper-pagination-bullets {
		margin-top: 35px;
		span {
			margin: 0 4px;
			width: 11px;
			height: 11px;
			@include background-horizontal($gradient_color_from, $gradient_color_to);
			&:before {
				content: '';
				width: 13px;
				height: 13px;
				border: 1px solid $primary_color;
				top: -1px;
				left: -1px;
				position: absolute;
				@include border-radius(13px);
				@include transition(all .25s cubic-bezier(.645,.045,.355,1));
				opacity: 0;
				@include transform(scale(1.4));
			}
			&:after {
				@include transition(all .25s cubic-bezier(.645,.045,.355,1));
				content: '';
				width: 5px;
				height: 5px;
				@include border-radius(13px);
				position: absolute;
				top: 3px;
				left: 3px;
				@include background-horizontal($gradient_color_from, $gradient_color_to);
				opacity: 0;
			}
			&:hover,
			&.swiper-pagination-bullet-active {
				background: transparent;
				&:before, &:after {
					opacity: 1;
				}
				&:before {
					@include transform(scale(1));
				}
			}
		}
	}
}

.pxl-swiper-sliders .pxl-item--image img {
	width: 100%;
}

.pxl-swiper-sliders {
	.pxl-item--title, .pxl-item--category {
		a {
			color: inherit;
			&:hover {
				color: inherit;
			}
		}
	}
}

// service
.single-service {
	.pxl-single--image {
		img {
			border-radius: 20px;
			width: 100%;			
		}
	}
	#pxl-content-main {
		p {
			@media (max-width: 991px) {
				font-size: 18px;
			}
		}
	}
	.pxl-single--title {
		font-size: 60px;
		font-weight: bold;
		line-height: 70px;
		font-family: quicksand;
		color: $four_color;
		margin-top: 58px;
		margin-bottom: 19px;
		@media (max-width: 1200px) {
			font-size: 45px;
			line-height: 1.2;
			@media (max-width: 991px) {
				font-size: 40px;
				margin: 50px 0 20px;
			}
			@media (max-width: 767px) {
				font-size: 30px;
			}
		}
	}
}
.pxl-service-detail1 {
	display: flex;
	flex-direction: column;
	.service-title {
		display: flex;
		font-family: quicksand;
		font-style: normal;
		font-weight: 700;
		font-size: 20px;
		line-height: 30px;
		padding: 15px 0 16px 30px;
		border-bottom: 1px solid #dcdcdc;
		@include transition(all 0.3s linear 0ms);
		&:last-child {
			border: none;
		}
		&:hover {
			background: linear-gradient(to right, #ff7369 0%, #ffb06d 100%);
			box-shadow: 0px 10px 40px rgba(255, 132, 105, 0.5);
			color: #ffffff;
			border-radius: 15px;
			border-color: transparent;
		}
	}
}

// pxl-service-grid-layout1
.pxl-service-grid-layout1,.pxl-service-carousel3 {
	.pxl-grid-pagination {
		margin-top: 85px;
		@media (max-width: 1024px) {
			margin-top: 45px;
		}
	}
	@media (min-width: 1200px) {
		.pxl-grid-item {
			&:nth-child(2) {
				.pxl-item--inner {
					border-top-left-radius: 25px;							
				}
			}
			&:nth-child(4) {
				.pxl-item--inner {
					border-top-right-radius: 25px;										
				}
			}
			&:nth-child(8) {
				.pxl-item--inner {
					border-bottom-left-radius: 25px;										
				}
			}
			&:nth-child(10) {
				.pxl-item--inner {
					border-bottom-right-radius: 25px;										
				}
			}
		}	
	}
	.pxl-item--inner {
		position: relative;
		padding: 388px 0 50px 73px;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
		@media (max-width: 1366px) {
			padding: 300px 0 50px 40px;		
			@media (max-width: 1024px) {
				padding: 340px 0 20px 40px;
			}	
		}
		&:hover {
			&:after {
				opacity: 0;
				transform: translatey(-100%);				
			}
			&:before {
				opacity: 0.8999999761581421;
				transform: translatey(0%);
			}
			.item-readmore {
				opacity: 1;
				transform: translatey(0%);				
			}
			.item--featured {
				img {
					transform: scale(1.1);
				}
			}
		}
		&:after {
			content: '';
			position: absolute;
			background-color: $four_color;
			opacity: 0.4;
			width: 100%;
			height: 100%;
			top: 0;
			left: 0;	
			transition: .3s cubic-bezier(.24,.74,.58,1);			
		}
		&:before {
			content: '';
			position: absolute;
			opacity: 0;
			background: linear-gradient(0deg, #ff7369 0%, #ffb06d 59.90%, rgba(255, 176, 109, 0.00) 100%);
			width: 100%;
			height: 100%;
			bottom: 0;
			left: 0;		
			transition: .3s cubic-bezier(.24,.74,.58,1);	
			transform: translatey(100%);
			max-height: 448px;
		}
		.item--featured {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				transition: all 300ms ease;
			}
		}
		.pxl-item--holder {
			position: relative;
			z-index: 1;
			.pxl-item--subtitle {
				font-size: 84px;
				font-weight: 400;
				color: #fdfdfd;
				line-height: 1.2;
				@media (max-width: 1024px) {
					font-size: 64px;
					@media (max-width: 767px) {
						font-size: 36px;
					}
				}
			}
			.pxl-item--title {
				font-size: 32px;
				font-family: quicksand;
				font-weight: 700;
				line-height: 42px;
				max-width: 240px;
				overflow: hidden;
				text-overflow: ellipsis;
				display: -webkit-box;
				-webkit-line-clamp: 2;
				-webkit-box-orient: vertical;
				@media (max-width: 991px) {
					font-size: 28px;
					line-height: 1.2;
					max-width: 218px;
					@media (max-width: 767px) {
						font-size: 24px;
					}
					@media (max-width: 575px) {
						max-width: none;
					}
				}
				a {
					color: #fdfdfd;
				}
			}
		}
		.item-readmore {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			right: 0;
			bottom: 0;
			background-color: #f6f6f6;
			border-top-left-radius: 10px;
			padding: 46px 39px 47px 47px;
			max-height: 120px;
			z-index: 3;
			transition: .3s cubic-bezier(.24,.74,.58,1);	
			transform: translatey(100%);					
			opacity: 0;
			@media (max-width: 1280px) {
				padding: 46px 34px 47px 40px;
				max-height: 100px;
			}
			@media (max-width: 991px) {
				padding: 11px 25px 12px 22px;
			}
			.btn-link {
				margin-top: 15px;
			}
		}
	}
}

.pxl-service-carousel3 {
	.pxl-item--inner {
		&:before {
			background: linear-gradient(0deg, #008060 0%, rgba(0, 128, 96, 0.00) 100%);
			opacity: 0.8999999761581421;
		}
		&:hover {
			&:after {
				transform: translatey(0);
				opacity: 0.4;
			}
			.pxl-item--holder {
				.pxl-item--subtitle {
					color: #B5FF17;
				}
				.pxl-item--title {
					a {
						color: #B5FF17;
					}
				}
			}
		}
		.item-readmore {
			background-color: #B5FF17;
			svg {
				path {
					fill: #008060;
				}
			}
		}
		.pxl-item--holder {
			.pxl-item--subtitle {
				font-family: Inter;
				font-size: 48px;
				font-style: normal;
				font-weight: 700;
				line-height: normal;
			}
			.pxl-item--title {
				font-family: Quicksand;
				font-size: 32px;
				font-style: normal;
				font-weight: 700;
				line-height: 42px;
				a {
					color: #fdfdfd;
				}
			}
		}
	}
}

// pxl-service-grid-layout2
.pxl-service-carousel1 {
	.pxl-swiper-dots {
		margin-top: 92px;
		@media (max-width: 1024px) {
			margin-top: 40px;
		}
		.pxl-swiper-pagination-bullet {
			background-color: #35E1B4;
			opacity: 0.2;
			&.swiper-pagination-bullet-active {
				opacity: 1;
			}
		}
	}
	.pxl-swiper-container {
		padding: 54px 0 26px;
		@media (max-width: 767px) {
			padding: 0;
		}
	}
	.pxl-swiper-slide {
		transition: all 500ms linear 0ms;
		.pxl-item--inner {
			&.multiply {
				&:after {
					mix-blend-mode: multiply;	
					opacity: 1;
				}
			}
		}
		@media (min-width: 768px) {
			&.swiper-slide-active {
				transform: translateY(-54px);				
				.pxl-item--inner {
					&:after {
						height: 0;
					}
					.pxl-item--holder {
						max-height: 100%;
						transform: translatey(0);
						&:after {
							height: 100%;
							opacity: 1;
							top: 0;
						}
						.pxl-item--title {					
							a {
								color: $third_color;
							}
						}
						.pxl-item--description {
							span {
								opacity: 1;
								-webkit-transform: translate(0);
								-moz-transform: translate(0);
								-ms-transform: translate(0);
								transform: translate(0);
								transition-delay: 300ms;
							}
						}
						.item-readmore {
							top: 0;
							bottom: auto;
							right: -48px;
							.btn-link {
								transform: rotatey(180deg);
							}
						}
					}
				}
			}	
		}
	}
}

// pxl-case-grid-layout2
.pxl-case-carousel2,.pxl-case-grid.layout4 {
	.pxl-swiper-dots {
		margin-top: 92px;
		.pxl-swiper-pagination-bullet {
			background-color: #35E1B4;
			opacity: 0.2;
			&.swiper-pagination-bullet-active {
				opacity: 1;
			}
		}
	}
	.pxl-swiper-container {
		padding: 54px 0 26px;
		@media (max-width: 767px) {
			padding: 0;
		}
	}
	.pxl-item--inner {
		position: relative;
		overflow: hidden;
		border-radius: 20px;
		&:hover {
			.item--featured {
				img {
					@include transform(scale(1.1));
				}
			}
			.pxl-item--holder {				
				opacity: 1;
				left: 0;
				visibility: visible;
				.pxl-item--title {
					a {
						opacity: 1;
						-webkit-transform: translate(0);
						-moz-transform: translate(0);
						-ms-transform: translate(0);
						transform: translate(0);
						transition-delay: 200ms;						
					}
				}
				.pxl-item--description {
					span {
						opacity: 1;
						-webkit-transform: translate(0);
						-moz-transform: translate(0);
						-ms-transform: translate(0);
						transform: translate(0);
						transition-delay: 300ms;
					}
				}
				.item-readmore {
					.btn-link {
						transform: rotatey(180deg);
					}
				}
			}
		}
		.item--featured {
			position: relative;
			overflow: hidden;
			transition: all 300ms ease;
			img {
				transition: all 300ms ease;
				width: 100%;
				height: 100%;
				object-fit: cover;
				@include transform(scale(1));				
			}
		}
		.pxl-item--holder {
			position: absolute;
			bottom: 0;
			left: -20px;
			z-index: 1;
			display: flex;
			max-width: 311.11px;
			flex-direction: column;
			opacity: 0;
			opacity: 0;
			visibility: hidden;
			transition: all 300ms ease;							
			.pxl-item--description {
				font-size: 14px;
				padding: 0px 32.67px 25px;				
				font-family: nunito sans;
				background-color: #16092A;
				font-style: normal;
				font-weight: 400;				
				line-height: 21.8px;
				transition: .5s all linear 0ms;								
				span {
					color: #A7BABA;
					transition: .5s linear;	
					position: relative;
					z-index: 2;
					opacity: 0;
					transform: translateY(-20px);
					transition: all 300ms ease;
					display: block;
				}
			}
			.pxl-item--title {
				position: relative;
				display: flex;
				align-items: center;
				font-size: 24.89px;
				font-family: quicksand;
				padding: 42.67px 0px 16px 32.67px;				
				font-weight: 700;
				transition: .5s all linear 0ms;				
				line-height: 32.7px;				
				margin-bottom: 0;	
				bottom: -1px;
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: -30px;
					bottom: -2px;
					right: 0;
					width: 315.11px;
					max-height: 100%;
					border-radius: 0px 11px 0px 0px;
					transform: skew(30deg);
					background-color: #16092a;
					z-index: -1;
				}	
				a {
					position: relative;
					z-index: 2;
					color: #02DFBF;
					opacity: 0;
					transform: translateY(-20px);
					transition: all 300ms ease;				
					display: block;
					overflow: hidden;
					@media (max-width: 1200px) {
						height: auto;
					}
				}
			}
		}
		.item-readmore {
			display: inline-flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			top: 0;
			bottom: auto;
			right: -53px;
			padding: 8px 48px 5px 33px;
			z-index: -2;
			transition: .3s all linear 0ms;			
			&:after {
				content: '';
				top: 0;
				left: -15px;
				position: absolute;
				width: 98px;
				height: 49.78px;
				border-radius: 0px 7px 0px 0px;
				transform: skew(29deg);
				z-index: -1;
				background: linear-gradient(90deg, #2f057b 0%, #6441c1 100%);										
			}
			.btn-link {			
				transition: .5s linear;
				svg {
					height: 18px;
					path {
						fill: #fdfdfd;
					}
				}
			}
		}
	}
	.wp-arrow {
		display: flex;
		align-items: center;
		justify-content: center;		
		margin-top: 61.89px;
		gap: 8px;
		@media (max-width: 1024px) {
			margin-top: 30px;
		}
		@media (max-width: 767px) {
			justify-content: flex-start;
		}
		.pxl-swiper-arrow {
			position: static;
			@include transform(translateY(0));
			opacity: 1;
			visibility: visible;
			align-items: center;
			font-size: 26px;
			width: 90px;
			height: 90px;
			background-color: #022B36;
			line-height: 90px;
			display: flex;
			justify-content: center;
			border-radius: 50%;
			color: $secondary_color;
			box-shadow: (0px 4px 30px rgba(89, 100, 255, 0.10));
			transition: .3s linear;
			@media (max-width: 1200px) {
				width: 70px;
				height: 70px;	
				@media (max-width: 767px) {
					width: 50px;
					height: 50px;
				}
			}
			svg {
				path {
					fill: #02DFBF;
				}
				@media (max-width: 767px) {
					height: 15px;
				}
			}
			+ .pxl-swiper-arrow {
				margin-left: 10px;
			}
			&.pxl-swiper-arrow-next {
				svg {
					transform: rotate(180deg);
				}
			}
			&:hover {
				background-color: #02DFBF;	
				box-shadow: (0px 7px 20px rgba(0, 255, 255, 0.4));					
				svg {
					path {
						fill: #0A4A49;
					}
				}
			}
		}
		.pxl-swiper-dots {
			margin-top: 0;
			.pxl-swiper-pagination-bullet {
				margin: 0 8px;
				width: 5px;
				height: 5px;
			}
		}
	}
}

.pxl-grid.pxl-case-grid.layout4 {
	div.pxl-item--holder {
		left: -20px;
		max-width: 250px;						
		.pxl-item--description {
			font-size: 13px;			
			background-color: #fff;			
			line-height: 17.487px;	
			padding: 0px 27px 25px;					
			span {
				color: #636363;
			}
		}
		.item-readmore {
			top: 1px;
			bottom: auto;
			right: -35px;	
			padding: 0px 38px 2px 30px;
			&:after {
				width: 78.69px;
				height: 39.97px;
				background: linear-gradient(90deg, #9255CE 0%, #BE60FF 100%);										
			}
			.btn-link {							
				svg {
					height: 14.31px;	
					width: 18.29px;				
				}
			}
		}
		.pxl-item--title {
			font-size: 18px;
			font-family: Plus Jakarta Sans;		
			line-height: 26.23px;			
			padding: 42.67px 0px 16px 27px;	
			&:after {
				left: -24px;
				bottom: -2px;
				width: 250px;
				background-color: #fff;
			}	
			a {
				color: $third_color;
			}
		}
	}
}

.pxl-post-carousel1 {
	&.pxl-swiper-boxshadow .pxl-carousel-inner .pxl-swiper-container {
		padding: 30px 30px;
		margin: -30px -15px;
	}
	.pxl-swiper-dots {
		margin-top: 100px;
		@media (max-width: 1024px) {
			margin-top: 50px;
		}
		.pxl-swiper-pagination-bullet {
			background-color: #F87D6C;
			&.swiper-pagination-bullet-active {
				background-color: #F87D6C;						
			}
		}
	}
	.container-custom {
		max-width: 1650px;
		margin-bottom: 94px;
		@media #{ $min-md } {
			display: flex;
			justify-content: space-between;		
			align-items: end;	
		}
		@media (max-width: 1024px) {
			margin-bottom: 74px;
		}
		@media #{ $max-sm } {
			margin-bottom: 30px;
			.wp-title {
				margin-bottom: 55px;
			}
		}
		&.alignment-left {
			margin-left: 0;
			margin-right: auto;
		}
		&.alignment-center {
			margin: 0 auto 65px;
		}
		&.alignment-right {
			margin-left: auto;
			margin-right: 0;
		}
		.wp-title {
			flex-grow: 1;
		}
		.el--title {
			font-family: Quicksand;
			font-size: 60px;
			font-style: normal;
			font-weight: 700;
			line-height: 70px;
			margin-bottom: 0;	
			color: #fdfdfd;		
		}
		.el--sub-title {
			display: inline-flex;
			position: relative;
			padding: 6px 35px;
			margin-bottom: 18px;
			@media (max-width: 767px) {
				padding: 0 15px;
			}
			&.title-gradient {
				span {					
					-webkit-background-clip: text;
					-webkit-text-fill-color: transparent;
				}
			}
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background-color: #fdfdfd;
				opacity: 0.2;
				border-radius: 67.0588px;
				width: 100%;
				height: 100%;
			}
			span {
				font-size: 22px;
				font-weight: 600;			
				line-height: 34px;
				color: #fdfdfd;
				background-color: #fdfdfd;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}
		}
		.wp-arrow {
			display: flex;
			align-items: center;
			justify-content: end;
			margin-bottom: 10px;
			gap: 8px;
			@media (max-width: 767px) {
				justify-content: flex-start;
			}
			.pxl-swiper-arrow {
				position: static;
				@include transform(translateY(0));
				opacity: 1;
				visibility: visible;
				align-items: center;
				font-size: 26px;
				width: 90px;
				height: 90px;
				background-color: rgba(115, 96, 242, .5);
				line-height: 90px;
				display: flex;
				justify-content: center;
				border-radius: 50%;
				color: $secondary_color;
				box-shadow: (0px 7px 20px rgba(86, 100, 255, 0.1));									
				transition: .3s linear;
				@media (max-width: 1200px) {
					width: 70px;
					height: 70px;	
					@media (max-width: 767px) {
						width: 50px;
						height: 50px;
					}
				}
				svg {
					@media (max-width: 767px) {
						height: 15px;
					}
				}
				svg {					
					path {
						fill: #fdfdfd;
					}
				}
				+ .pxl-swiper-arrow {
					margin-left: 10px;
				}
				&.pxl-swiper-arrow-next {
					svg {
						transform: rotate(180deg);
					}
				}
				&:hover {
					background: linear-gradient(90deg, #FF7369 0%, #FFB06D 100%);	
					box-shadow: (0px 7px 20px rgba(86, 100, 255, 0.1));					
				}
			}
		}
	}
}
// pxl-service-carousel2 
.pxl-service-carousel2 {
	.pxl-swiper-slide {
		.pxl-item--inner {
			.pxl-item--holder {
				position: relative;
				background-color: #fdfdfd;
				border-radius: 10px;
				overflow: hidden;
				padding: 35.84px 24px 62px 33px;
				transform: all 0.3s;
				&:hover {					
					.pxl-item--icon {
						background-color: #B5FF17;
					}
					.pxl-item--title {
						a {
							color: #fdfdfd;
						}
					}
					.pxl-item--description {
						color: #fdfdfd;
					}
					.pxl--image {
						@include transform(scale(1,1));
						transform-origin: left center;
						-webkit-transform-origin: left center;
					}
					.item-readmore {
						svg {
							path {
								fill: #008060;
							}
						}
						&:after {
							background-color: #fdfdfd;
						}
					}
				}
				&:after {
					content: '';
					position: absolute;
					width: 106px;
					height: 106px;
					border-radius: 50%;
					background-color: #008060;
					top: -33px;
					right: -31px;
					opacity: .1;
					z-index: 1;
				}
				.pxl--image {
					position: absolute;
					top: -1px;
					right: -1px;
					bottom: -1px;
					left: -1px;
					background-color: #008060;
					transform-origin: right center;
					@include transform(scale(0,1));
					@include transition(transform .3s cubic-bezier(.37,.31,.2,.85));
					background-position: 50%;
					background-repeat: no-repeat;
					background-size: cover;	
					&:after {
						content: '';
						position: absolute;
						background-color: #008060;	
						z-index: 1;		
						opacity: 0.9;		
						width: 100%;
						height: 100%;	
					}									
				}
				.pxl-item--icon {
					position: relative;
					z-index: 1;
					display: inline-flex;
					align-items: center;
					justify-content: center;
					background-color: #008060;
					border-radius: 50%;
					transition: all 250ms linear 0ms;				
					width: 47px;
					height: 47px;
					margin-bottom: 20px;
					img {
						max-width: 24.92px;
					}
				}
				.pxl-item--title {
					font-family: Quicksand;
					color: #fdfdfd;
					font-size: 16px;
					position: relative;
					z-index: 1;
					font-style: normal;
					font-weight: 700;
					margin-bottom: 11px;
					line-height: 19.746px;
					a {
						transition: all 250ms linear 0ms;					
						color: $four_color;
					}
				}
				.pxl-item--description {
					font-family: Nunito Sans;
					font-size: 14px;
					position: relative;
					z-index: 1;
					transition: all 250ms linear 0ms;
					font-style: normal;
					font-weight: 400;
					line-height: 21px;
				}
				.item-readmore {
					position: absolute;
					bottom: -1px;
					left: 0;
					display: flex;
					align-items: center;
					height: 30.09px;
					svg {
						position: relative;
						z-index: 2;
						height: 10.77px;
						path {
							fill: #fdfdfd;
						}
					}
					&:after {
						content: '';
						top: 0;
						left: -15px;
						position: absolute;
						width: 59px;
						height: 30px;
						border-radius: 0px 3px 0px 0px;
						transition: all 250ms linear 0ms;
						transform: skew(29deg);
						z-index: 1;
						background-color: #008060;
					}
				}
			}
		}
	}
}

.pxl-service-grid-layout2,.pxl-service-carousel1 {
	.container-custom {
		max-width: 1650px;
		margin-bottom: 67px;
		margin-left: -15px;
		margin-right: -15px;
		@media #{ $min-md } {
			display: flex;
			justify-content: space-between;
			align-items: end;
		}
		@media #{ $max-sm } {
			margin-bottom: 30px;
			.wp-title {
				margin-bottom: 55px;
			}
		}
		&.alignment-left {
			margin-left: 0;
			margin-right: auto;
		}
		&.alignment-center {
			margin: 0 auto 65px;
		}
		&.alignment-right {
			margin-left: auto;
			margin-right: 0;
		}
		.wp-title {
			flex-grow: 1;
		}
		.el--title {
			font-family: Quicksand;
			font-size: 60px;
			font-style: normal;
			font-weight: 700;
			line-height: 70px;
			margin-bottom: 0;
		}
		.el--sub-title {
			display: inline-flex;
			position: relative;
			padding: 6px 35px;
			margin-bottom: 18px;
			@media (max-width: 767px) {
				padding: 0 15px;
			}
			&:after {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background-color: #7360F2;
				opacity: 0.2;
				border-radius: 67.0588px;
				width: 100%;
				height: 100%;
			}
			span {
				font-size: 22px;
				font-weight: 600;			
				line-height: 34px;
				color: #7360F2;
				background-color: #7360F2;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				background-clip: text;
				text-fill-color: transparent;
			}
		}
		.wp-arrow {
			display: flex;
			align-items: center;
			justify-content: end;
			margin-bottom: 10px;
			gap: 8px;
			@media (max-width: 767px) {
				justify-content: flex-start;
			}
			.pxl-swiper-arrow {
				position: static;
				@include transform(translateY(0));
				opacity: 1;
				visibility: visible;
				align-items: center;
				font-size: 26px;
				width: 90px;
				height: 90px;
				background-color: #fdfdfd;
				line-height: 90px;
				display: flex;
				justify-content: center;
				border-radius: 50%;
				color: $secondary_color;
				box-shadow: (0px 4px 30px rgba(89, 100, 255, 0.10));
				transition: .3s linear;
				@media (max-width: 1200px) {
					width: 70px;
					height: 70px;	
					@media (max-width: 767px) {
						width: 50px;
						height: 50px;
					}
				}
				svg {
					@media (max-width: 767px) {
						height: 15px;
					}
				}
				+ .pxl-swiper-arrow {
					margin-left: 10px;
				}
				&.pxl-swiper-arrow-next {
					svg {
						transform: rotate(180deg);
					}
				}
				&:hover {
					background: linear-gradient(90deg, #40CCFC 0%, #1AECF5	 100%);	
					box-shadow: (0px 7px 20px rgba(0, 255, 255, 0.4));					
					svg {
						path {
							fill: #fdfdfd;
						}
					}
				}
			}
			.pxl-swiper-dots {
				margin-top: 0;
				.pxl-swiper-pagination-bullet {
					margin: 0 8px;
					width: 5px;
					height: 5px;
				}
			}
		}
	}
	.pxl-grid-pagination {
		margin-top: 85px;
	}
	.pxl-item--inner {
		position: relative;
		padding: 610px 0 0px 0;
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		overflow: hidden;
		border-radius: 20px;
		@media (max-width: 1200px) {
			padding: 520px 0 0px 0;
			@media (max-width: 991px) {
				padding: 440px 0 0px 0;				
			}
		}
		&:after {
			content: '';
			position: absolute;			
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;			
			background-color: rgba(159, 144, 255, 1);
			opacity: 0.3;
			transition: .5s all linear 0ms;
		}				
		&:hover {
			&:after {				
				height: 0;
			}
			.pxl-item--holder {
				max-height: 100%;
				transform: translatey(0);
				&:after {
					height: 100%;
					opacity: 1;
					bottom: 0;
				}
				.pxl-item--title {					
					a {
						color: $third_color;
					}
				}
				.pxl-item--description {
					span {
						opacity: 1;
						-webkit-transform: translate(0);
						-moz-transform: translate(0);
						-ms-transform: translate(0);
						transform: translate(0);
						transition-delay: 300ms;
					}
				}
				.item-readmore {
					top: 0;
					bottom: auto;
					right: -48px;
					.btn-link {
						transform: rotatey(180deg);
					}
				}
			}
		}
		.pxl-item--holder {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
			display: flex;
			flex-direction: column;			
			max-width: 400px;
			transition: all .3s ease;		
			transform: translatey(148px);
			@media (max-width: 1200px) {
				transform: translatey(118px);
			}
			&:after {
				content: '';
				position: absolute;
				left: 0;
				top: 0;
				height: 0%;
				width: 100%;
				transition: .5s all linear 0ms;
				mask-image: url(../img/union.png);
				-webkit-mask-image: url(../img/union.png);
				-ms-mask-image: url(../img/union.png);
				-o-mask-image: url(../img/union.png);
				-webkit-mask-repeat: no-repeat;
				-ms-mask-repeat: no-repeat;
				-o-mask-repeat: no-repeat;			
				background: #fdfdfd;		
				z-index: 1;		
				opacity: 0;	
			}				
			.pxl-item--description {
				font-size: 18px;
				padding: 0px 45px 65px;				
				font-family: nunito sans;
				font-style: normal;
				font-weight: 400;
				background: linear-gradient(90deg, #ff7369 0%, #ffb06d 100%);	
				line-height: 28px;
				transition: .5s all linear 0ms;				
				@media (max-width: 1200px) {
					padding: 0px 15px 35px;									
				}
				span {
					color: $third-color;
					transition: .5s linear;	
					position: relative;
					z-index: 2;
					opacity: 0;
					transform: translateY(-20px);
					transition: all 500ms ease;
					display: block;
				}
			}
			.pxl-item--title {
				position: relative;				
				display: flex;
				align-items: center;
				font-size: 32px;
				font-family: quicksand;
				font-weight: 700;
				transition: .5s all linear 0ms;
				min-height: 130px;
				line-height: 42px;
				padding: 0 110px 0 45px;	
				margin-bottom: 0;	
				@media (max-width: 1500px) {
					@media (max-width: 1200px) {
						padding: 0 40px 0 15px;	
						font-size: 28px;							
					}
				}				
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: -70px;
					bottom: 0;
					right: 0;
					width: 432px;
					transition: .5s all linear 0ms;					
					max-height: 130px;
					border-radius: 0px 11px 0px 0px;
					transform: skew(30deg);					
					background: linear-gradient(90deg, #ff7369 0%, #ffb06d 100%);	
					z-index: -1;
				}	
				.pxl-item--title-link {
					position: relative;
					z-index: 2;
					color: #fdfdfd;
					transition: .5s all linear 0ms;
					height: 82px;
					display: block;
					overflow: hidden;
					@media (max-width: 1200px) {
						height: auto;
					}
				}
			}
			.item-readmore {
				display: inline-flex;
				align-items: center;
				justify-content: center;
				position: absolute;
				right: -91px;
				bottom: 0;
				padding: 19px 48px 5px 46px;
				z-index: -2;
				transition: .3s all linear 0ms;			
				&:after {
					content: '';
					top: 2px;
					left: -15px;
					position: absolute;
					width: 125px;
					height: 64px;
					border-radius: 0px 7px 0px 0px;
					transform: skew(29deg);
					z-index: -1;
					background: linear-gradient(90deg, #2f057b 0%, #6441c1 100%);										
				}
				.btn-link {			
					transition: all .5s linear 0ms;
					svg {
						path {
							fill: #fdfdfd;
						}
					}
				}
			}
		}
	}
}

// pxl-case-detail1
.pxl-case-detail1 {
	max-width: 585px;	
	@media (max-width: 1200px) {
		max-width: 100%;
	}
	.pxl-item--title {
		font-size: 32px;
		font-family: quicksand;
		font-style: normal;
		font-weight: 700;
		line-height: 42px;
		color: #fdfdfd;
		text-align: center;
		background-color: #7360f2;	
		margin-bottom: 0;	
		padding: 32px 0 38px;
		@media (max-width: 1200px) {
			font-size: 28px;
			padding: 22px 0 28px;
		}
	}
	.pxl-item-holder {
		background: linear-gradient(90deg, #512ca8 0%, #6441c1 100%);
		padding: 9px 55.31px 105.13px 55.31px;
		@media (max-width: 1200px) {
			padding: 9px 15px 50px 15px;			
		}
		@media (max-width: 767px) {
			padding: 9px 15px 105.13px 15px;			
		}
	}
	.pxl--item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 25px 0 26px;
		border-bottom: .5px solid #fdfdfd;
		@media (max-width: 1200px) {
			padding: 20px 0 21px;
		}
		&:last-child {
			padding: 25px 0 35px;
			@media (max-width: 1200px) {
				padding: 20px 0 21px;
			}
		}
		label {
			color: #fdfdfd;
			font-size: 24px;
			font-family: quicksand;
			font-style: normal;
			font-weight: 600;
			line-height: 34px;
			@media (max-width: 1200px) {
				font-size: 20px;
			}
		}
		span {
			color: #fdfdfd;
			text-align: right;
			font-size: 24px;
			font-family: inter;
			font-style: normal;
			font-weight: 400;
			line-height: 40px;
			@media (max-width: 1200px) {
				font-size: 20px;
			}
		}
	}
}

// pxl-case-grid
.pxl-case-grid {
	&.layout1 {
		.pxl-grid-pagination {
			margin-top: 65px;
		}
		&.style1 {
			.pxl-item--box {
				padding: 24px 24px 24px 25px;
				border-radius: 20px;
				background-color: #f6f6f6;
				@media (max-width: 991px) {
					padding: 15px;
				}
				.pxl-item--inner {
					&:hover {
						.item--holder {
							&:after {
								opacity: 0;													
							}
						}
						.item--holder {
							&.pxl-item--back {
								&:after {
									opacity: 1;									
								}
							}
						}
					}
				}
			}	
			.item--holder {		
				&.pxl-item--back {
					&:after {
						opacity: 0;
						background: linear-gradient(90deg, #FF7369 0%, #FFB06D 100%);							
					}
				}
				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: -30px;
					bottom: 0;
					right: 0;
					width: 458px;
					max-height: 130px;
					border-radius: 0px 11px 0px 0px;
					transform: skew(29deg);					
					background: linear-gradient(90deg, #2f057b 0%, #6441c1 100%);	
					z-index: -1;					
					opacity: 1;										
					transition: all 500ms ease;			
				}
			}
		}
		&.style2 {
			.pxl-item--inner {		
				&:after {
					content: none;
				}	
				&:hover  {
					.pxl-flip--box {
						transform: translateX(-50%) rotateX(180deg);
					}	
				}
				.item--featured {		
					img {
						height: 656px;
						object-fit: cover;
						@media (max-width: 1200px) {
							height: auto;
						}
					}
				}
				.pxl-flip--box {
					position: absolute;
					left: 50%;
					bottom: 30px;
					height: 150px;
					max-width: 466px;
					width: 100%;
					transform: translateX(-50%);
					transition: transform 0.6s;
					transform-style: preserve-3d;
					display: flex;
					flex-wrap: wrap;
					align-items: flex-end;
				}
				.item--holder {
					border-radius: 20px;
					width: 100%;
					height: 100%;
					-webkit-backface-visibility: hidden;
					background: linear-gradient(90deg, #2f057b 0%, #6441c1 100%);						
					backface-visibility: hidden;
					@include transition(transform 200ms linear 0ms);
					&.pxl-item--front {										
						position: relative;
					}
					&.pxl-item--back {
						background: linear-gradient(90deg, #FF7369 0%, #FFB06D 100%);												
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						transform: rotateX(180deg);
						.pxl-item--title, .pxl-item--category {
							color: #fff;
						}
					}
					.item--client {
						margin-bottom: 10px;
						.item--title {
							font-size: 20px;
							font-family: Quicksand;
							font-style: normal;
							font-weight: 700;
							line-height: 30px;
						}
					}
					.item--service {
						display: flex;
						.item--title {
							font-size: 32px;
							font-family: Quicksand;
							font-style: normal;
							font-weight: 700;
							line-height: 42px;
						}
					}
				}
			}
		}
		.pxl-item--inner {
			position: relative;
			border-radius: 20px;
			overflow: hidden;
			&:after {
				content: '';
				position: absolute;
				background-image: linear-gradient(to right, rgba(255, 255, 255, .0), rgba(255, 255, 255, .6));
				transition: all 300ms linear 0ms;
				top: 0;
				left: -100%;
				z-index: 1;
				display: block;
				width: 50%;
				height: 100%;
				transform: skewx(-25deg);
			}
			&:hover {
				&:after {
					animation: shine 0.75s;
				}
				.item--holder {
				}
			}
			.item--featured {		
				img {
					height: 561px;
					object-fit: cover;
					width: 100%;
					@media (max-width: 1200px) {
						height: auto;
					}
				}
			}
			.item--holder {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 130px;
				display: flex;
				flex-direction: column;
				justify-content: center;	
				padding-left: 32px;
				z-index: 2;
				@media (max-width: 1024px) {
					bottom: -1px;
				}
				@media (max-width: 991px) {
					mask-size: contain;
					padding: 20px;
					height: auto;
					@media (max-width: 881px) and (min-width: 767px){
						padding: 15px;
					}
					@media (max-width: 575px) {
						padding: 15px;						
					}
				}
				.item--client {
					line-height: 26px;
					margin-bottom: 6px;
					label {
						font-size: 16px;
						font-family: quicksand;
						font-style: normal;
						font-weight: 700;
						line-height: 26px;
						color: #fdfdfd;
						width: 70px;
						margin-right: 20px;
						display: inline-block;
					}
					.item--title {
						font-size: 16px;
						font-family: quicksand;
						font-style: normal;
						font-weight: 700;
						line-height: 26px;					
						color: #fdfdfd;		
						display: inline-flex;									
					}
				}
				.item--service {
					line-height: 26px;
					label {
						font-size: 16px;
						font-family: quicksand;
						font-style: normal;
						font-weight: 700;
						line-height: 26px;
						color: #fdfdfd;
						width: 70px;
						margin-right: 20px;
						display: inline-block;
					}
					.item--title {
						font-size: 24px;
						font-family: quicksand;
						font-style: normal;
						font-weight: 600;
						line-height: 34px;
						display: inline-flex;									
						a {
							color: #fdfdfd;
						}
					}
				}
			}
		}
	}
	&.layout2 {
		.pxl-item--inner {
			position: relative;
			border-radius: 20px;
			overflow: hidden;
			&:after {
				background: rgba(255, 255, 255, 0.3);
				bottom: 0;
				content: "";
				left: 50%;
				position: absolute;
				right: 51%;
				top: 0;
				opacity: 1;
				pointer-events: none;
				transition: all 400ms linear;
			}
			&:hover {
				&:after {
					left: 0;
					right: 0;
					opacity: 0;
					transition: all 400ms linear;
				}
				.item--holder {
					&:after {
						opacity: 0;
					}
					&:before {
						opacity: 1;
					}					
				}
				.item--content {
					.item-readmore {
						.svg2 {
							transform: translateX(-60%);
						}
						.svg1 {
							transform: translateX(300%);
						}
					}
				}
			}
			.item--content {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 189px;
				max-width: 667px;
				@media (max-width: 1400px) {				
					height: auto;
				}
				.item-readmore {
					position: absolute;
					top: -34px;
					right: 25px;
					background-color: #fdfdfd;
					overflow: hidden;
					width: 70px;
					height: 70px;
					border-radius: 50%;
					line-height: 70px;
					text-align: center;
					z-index: 2;
					transition: 300ms ease;
					a {
						line-height: 76px;
						.svg2 {
							transform: translateX(-300%);
							transition: 300ms linear;
						}
						.svg1 {
							transform: translateX(60%);
							transition: 300ms linear;							
						}
					}
				}
			}
			.item--featured {		
				img {
					height: 500px;
					object-fit: cover;
				}
			}
			.item--holder {
				width: 100%;
				height: 189px;
				max-width: 667px;
				display: flex;
				align-items: flex-start;	
				justify-content: space-between;			
				padding-left: 46px;
				padding-top: 48px;
				padding-right: 101px;
				z-index: 2;				
				position: relative;
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					mask-image: url(../img/mask-case-v3.svg);
					-webkit-mask-image: url(../img/mask-case-v3.svg);
					-ms-mask-image: url(../img/mask-case-v3.svg);
					-o-mask-image: url(../img/mask-case-v3.svg);
					-webkit-mask-repeat: no-repeat;
					-ms-mask-repeat: no-repeat;
					transition: all 300ms ease;			
					-o-mask-repeat: no-repeat;	
					background: linear-gradient(90deg, #2f057b 0%, #6441c1 100%);
					z-index: -2;	
				}
				&:before {
					content: '';
					position: absolute;
					width: 100%;
					height: 100%;
					top: 0;
					left: 0;
					mask-image: url(../img/mask-case-v3.svg);
					-webkit-mask-image: url(../img/mask-case-v3.svg);
					-ms-mask-image: url(../img/mask-case-v3.svg);
					-o-mask-image: url(../img/mask-case-v3.svg);
					-webkit-mask-repeat: no-repeat;
					-ms-mask-repeat: no-repeat;
					transition: all 300ms ease;			
					-o-mask-repeat: no-repeat;	
					background: linear-gradient(90deg, #FF7369 0%, #FFB06D 100%);	
					z-index: -1;	
					opacity: 0;
				}
				@media (max-width: 1400px) {
					mask-size: cover;
					padding: 15px;
					height: auto;
				}
				@media (max-width: 991px) {
					mask-size: contain;
					padding: 0;
					height: auto;
					justify-content: flex-start;
					gap: 40px;
					padding: 15px 0 0 15px;
					mask-size: cover;
				}
				.item--holder-left {
					display: flex;
					flex-direction: column;
				}
				.item--client,.item--year {
					display: flex;
					flex-direction: column;									
					margin-bottom: 6px;
					label {
						font-size: 16px;
						font-family: Nunito Sans;
						font-style: normal;
						font-weight: 700;
						line-height: 26px;
						opacity: .5;
						color: #fdfdfd;
					}
					.item--title {
						font-size: 16px;
						font-family: Inter;
						font-style: normal;
						font-weight: 600;
						line-height: 26px;				
						color: #fdfdfd;					
					}
				}
				.item--service {
					display: flex;
					flex-direction: column;	
					max-width: 238px;
					label {
						font-size: 16px;
						font-family: Nunito Sans;
						font-style: normal;
						font-weight: 700;
						line-height: 26px;
						opacity: .5;
						color: #fdfdfd;
					}
					.item--title {
						font-size: 32px;
						font-family: Quicksand;
						font-style: normal;
						font-weight: 700;
						line-height: 42px;
						@media (max-width: 991px) {
							font-size: 22px;
							line-height: 32px;
						}
						a {
							color: #fdfdfd;
						}
					}
				}
			}
		}
	}
	&.layout3 {
		.pxl-item--inner {
			position: relative;
			.item--image {
				position: relative;
				overflow: hidden;
			}
			&:hover {
				.item--content  {
					-webkit-transform: perspective(250px) rotateY(0deg);
					-khtml-transform: perspective(250px) rotateY(0deg);
					-moz-transform: perspective(250px) rotateY(0deg);
					-ms-transform: perspective(250px) rotateY(0deg);
					-o-transform: perspective(250px) rotateY(0deg);
					transform: perspective(250px) rotateY(0deg);
				}
			}
			.item--content {
				position: absolute;
				right: -1px;
				top: auto;
				bottom: 0;
				padding: 15px 25px 15px;
				max-width: 270px;
				background-color: #1E1E1E;
				transform-origin: right;
				-webkit-transform: perspective(250px) rotateY(-90deg);
				-khtml-transform: perspective(250px) rotateY(-90deg);
				-moz-transform: perspective(250px) rotateY(-90deg);
				-ms-transform: perspective(250px) rotateY(-90deg);
				-o-transform: perspective(250px) rotateY(-90deg);
				transform: perspective(250px) rotateY(-90deg);
				-webkit-transition: all 400ms ease-in-out;
				-khtml-transition: all 400ms ease-in-out;
				-moz-transition: all 400ms ease-in-out;
				-ms-transition: all 400ms ease-in-out;
				-o-transition: all 400ms ease-in-out;
				transition: all 400ms ease-in-out;
				@media (max-width: 767px) {
					max-width: none;
				}
				.item--title {
					a {
						font-family: Inter;
						font-weight: 500;
						text-transform: uppercase;
						line-height: 1.3;
						font-size: 22px;
						color: #fdfdfd;
						@media (max-width: 1024px) {
							font-size: 18px;
						}
					}
				}
			}
			.item--image {
				img {
					min-height: 392px;
					@media (max-width: 1366px) {
						min-height: auto !important;
					}
				}
			}
			// .item--featured {
			// 	a {
			// 		position: relative;
			// 		width: 100%;
			// 		height: 100%;
			// 		overflow: hidden;
			// 		display: block;
			// 		&:hover {
			// 			img {
			// 				&:nth-child(1) {
			// 					-webkit-transform: translatex(0) scalex(1);
			// 					transform: translatex(0) scalex(1);
			// 					opacity: 1;
			// 					-webkit-filter: blur(0);
			// 					filter: blur(0);
			// 				}
			// 				&:nth-child(2) {
			// 					-webkit-transform: translatex(-50%) scalex(2);
			// 					transform: translatex(-50%) scalex(2);
			// 					opacity: 0;
			// 					-webkit-filter: blur(10px);
			// 					filter: blur(10px);
			// 				}
			// 			}
			// 		}
			// 		img {
			// 			-webkit-transition: 0.5s;
			// 			transition: 0.5s;
			// 			background-size: cover;
			// 			min-height: 460px;
			// 			&:nth-child(1) {
			// 				position: absolute;
			// 				top: 0;
			// 				left: 0;
			// 				width: auto;
			// 				height: 100%;
			// 				-webkit-transform: translatex(50%) scalex(2);
			// 				transform: translatex(50%) scalex(2);
			// 				opacity: 0;
			// 				-webkit-filter: blur(10px);
			// 				filter: blur(10px);
			// 			}
			// 		}
			// 	}
			// }
		}
	}
}

.pxl-case-carousel1 {
	.pxl-swiper-dots {
		margin-top: 95px;
		.pxl-swiper-pagination-bullet  {
			&.swiper-pagination-bullet-active {
				background: linear-gradient(90deg, #40CCFC 0%, #1AECF5 100%);				
			}
			background: linear-gradient(90deg, #40CCFC 0%, #1AECF5 100%);							
		}
	}
	.pxl-swiper-arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 90px;
		height: 90px;
		line-height: 90px;
		background: #fdfdfd;
		border-radius: 50%;
		box-shadow: 0 4px 30px rgba(89, 100, 255, 0.1);
		transition: all 250ms linear 0ms;
		svg {
			line-height: 1;
		}
		&:hover {
			background: linear-gradient(90deg, #40CCFC 0%, #1AECF5 100%);
			svg {
				path {
					fill: #fdfdfd;
				}
			}
		}
		&.pxl-swiper-arrow-next {
			transform: translatey(-50%) rotate(180deg);
			right: -48px;
			@media (max-width: 1400px) {
				right: 30px;				
			}
		}
		&.pxl-swiper-arrow-prev {
			left: -48px;	
			@media (max-width: 1400px) {
				left: 30px;				
			}		
		}
	}
	.pxl-item--inner {		
		.pxl-flip--box {
			position: absolute;
			left: 50%;
			bottom: 30px;
			height: 150px;
			max-width: 466px;
			width: 100%;
			transform: translateX(-50%);
			transition: transform 0.6s;
			transform-style: preserve-3d;
			display: flex;
			flex-wrap: wrap;
			align-items: flex-end;
			z-index: 2;
			@media (max-width: 991px) {
				max-width: 100%;
				padding: 0 15px;
			}
		}		
		.item--featured {		
			img {
				height: 656px;
				object-fit: cover;
				@media (max-width: 1200px) {
					height: auto;
					@media (max-width: 991px) {
						width: 100%;
					}
				}
			}
		}
		.item--holder {
			border-radius: 20px;
			width: 100%;
			height: 100%;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			@include transition(transform 200ms linear 0ms);
			&.pxl-item--front {										
				position: relative;
			}
			&.pxl-item--back {
				background-color: $primary_color;						
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				transform: rotateX(180deg);
				.pxl-item--title, .pxl-item--category {
					color: #fff;
				}
			}
			.item--client {
				margin-bottom: 10px;
				.item--title {
					font-size: 20px;
					font-family: Quicksand;
					font-style: normal;
					font-weight: 700;
					line-height: 30px;
				}
			}
			.item--service {
				display: flex;
				.item--title {
					font-size: 32px;
					font-family: Quicksand;
					font-style: normal;
					font-weight: 700;
					line-height: 42px;
				}
			}
		}
	}
	.pxl-item--inner {
		position: relative;
		border-radius: 20px;
		overflow: hidden;
		&:hover {
			.item--holder {
				background: linear-gradient(90deg, #FF7369 0%, #FFB06D 100%);	
			}
			&:hover  {
				.pxl-flip--box {
					@media (min-width: 991px) {
						transform: translateX(-50%) rotateX(180deg);						
					}
				}	
			}
		}
		.item--featured {		
			a {
				position: relative;
				display: block;
				z-index: 2;
				width: 100%;
				height: 100%;
				&:after {
					content: '';
					position: absolute;
					background-image: linear-gradient(to right, rgba(255, 255, 255, .0), rgba(255, 255, 255, .6));
					transition: all 300ms linear 0ms;
					top: 0;
					left: -100%;
					z-index: 1;
					display: block;
					width: 50%;
					height: 100%;
					transform: skewx(-25deg);
				}
			}
			img {
				height: 656px;
				object-fit: cover;
				@media (max-width: 1200px) {
					height: auto;
				}
			}
		}
		.item--holder {
			position: absolute;
			width: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;	
			padding-left: 32px;
			background: linear-gradient(90deg, #2f057b 0%, #6441c1 100%);					
			z-index: 2;
			@media (max-width: 991px) {
				mask-size: contain;
				padding: 20px;
				height: auto;
				@media (max-width: 881px) and (min-width: 767px){
					padding: 15px;
				}
				@media (max-width: 575px) {
					padding: 15px;						
				}
			}
			.item--client {
				line-height: 26px;
				margin-bottom: 10px;
				label {
					font-size: 16px;
					font-family: quicksand;
					font-style: normal;
					font-weight: 700;
					line-height: 26px;
					color: #fdfdfd;
					width: 70px;
					margin-right: 20px;
					display: inline-block;
				}
				.item--title {
					font-size: 20px;
					font-family: quicksand;
					font-style: normal;
					font-weight: 700;
					line-height: 30px;					
					color: #fdfdfd;					
				}
			}
			.item--service {
				line-height: 26px;
				label {
					font-size: 16px;
					font-family: quicksand;
					font-style: normal;
					font-weight: 700;
					line-height: 26px;
					color: #fdfdfd;
					width: 70px;
					margin-right: 20px;
					display: inline-block;
				}
				.item--title {
					font-size: 32px;
					font-family: quicksand;
					font-style: normal;
					font-weight: 700;
					line-height: 42px;
					a {
						color: #fdfdfd;
					}
				}
			}
		}
	}
}

.paused .dot {
	animation-play-state: paused;
}