.pxl-progressbar.layout-4 {
    display: flex;    
    align-items: center;
    @media (max-width: 575px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
    .pxl-progressbar-inner{
        width: 174px;
        height: 174px;
        min-width: 174px;
        position: relative;
        margin: 0 auto;
        @media (max-width: 1200px) {
            width: 144px;
            height: 144px;
            min-width: 144px;
            @media (max-width: 575px) {
                margin: 0;
            }
        }
    }
    &.style2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        .progress-box {
            margin: 27px 0 0 0;
            max-width: 297px;
            text-align: center;
        }
    }
    .pxl-progressbar-circle{
        position: absolute;
        top: 0;
        left: 0;
        border-radius: 50%;
        width: 100%;
        height: 100%;
        box-shadow: 0 10px 40px 0 rgba(255, 132, 105, .5);
        div{
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            border-width: 13px;
            border-style: solid;
            border-color: #54595f;
            border-radius: 50%;
            border-color: $primary_color;
        }
        .pxl-progressbar-circle-left{
            -webkit-transform: rotate(0);
            -ms-transform: rotate(0);
            transform: rotate(0);
        }
        .pxl-progressbar-circle-right{
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
            visibility: hidden;
        }
    }
    .progress-box {
        margin-left: 48px;
        @media (max-width: 1024px) {
            margin-left: 20px;
        }
        @media (max-width: 576px) {
            margin-left: 0;
        }
        .progress-title{
            font-size: 32px;
            font-family: quicksand;
            font-style: normal;
            font-weight: 700;
            line-height: 42px;
            color: $four_color;
            margin-bottom: 16px;
        }
        .progress-content {
            font-size: 18px;
            font-family: nunito sans;
            font-style: normal;
            font-weight: 400;
            line-height: 28px;
            color: $third_color;
        }
    }
    .pxl-progressbar-circle-content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        text-align: center;
        .progress-percentage{
            font-size: 50px;
            font-weight: 700;
            line-height: 1;
            color: $four_color;            
            @media (max-width: 767px) {
                font-size: 40px;
            }
        }
    }
}

.pxl-progressbar-container {
    &.layout-4 {
        svg {
            overflow: unset;
        }
        .svg1 {
            position: absolute;
            z-index: 1;
            height: 100%;
            transform: rotate(256deg) rotatex(180deg);
            width: 100%;
            .progress-bar__progress {
              fill: none;              
              stroke: #d9d9d9;
              stroke-dasharray: 100 100;
              stroke-dashoffset: 100;
              stroke-linecap: round;
              stroke-width: 2.5px;
              transition: stroke-dashoffset 1s ease-in-out;
          }  
      }

      .svg2 {
        position: absolute;
        z-index: 2;
        height: 100%;
        transform: rotate(-90deg);
        width: 100%;
        .progress-bar__progress {
          fill: none;                    
          stroke-dasharray: 100 100;
          stroke-dashoffset: 100;
          stroke-linecap: round;
          stroke-width: 2.5px;
          transition: stroke-dashoffset 1s ease-in-out;
      }  
  }
  .progress-bar__background {
      fill: none;
      stroke: transparent;
      stroke-width: 2.5px;
  }     
}
}

.pxl-progressbar.layout-2 {
    font-size: 16px;
    font-weight: 500;
    color: $third_color;
    .progress-item {
        position: relative;
        + .progress-item {
            margin-top: 15px;
        }
        .title-wrap{
            margin-bottom: 10px;
            font-family: Plus Jakarta Sans;
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            line-height: 30px;
            color: $third_color;
            
        }
    }

    .progress-bar-wrap {
        position: relative;
        .progress-bound {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 10px;            
            @include border-radius(5px);
            background-color: #F0F6FF;
        }
    }
    .pxl-progress-bar {
        height: 10px;
        position: relative;
        width: 0;
        @include transition(width 1.4s ease);
        background: linear-gradient(90deg, #FF403E 0%, #FF811B 100%);
        box-shadow: 10px 10px 24px 0px rgba(226, 92, 62, 0.30);
        @include border-radius(5px);
    } 
}

.pxl-progressbar.layout-3 {
    font-size: 16px;
    font-weight: 500;
    color: $four_color;
    .progress-item {
        position: relative;
        display: flex;
        align-items: center;
        gap: 50px;
        @media (max-width: 991px) {
            gap: 20px;
        }
        + .progress-item {
            margin-top: 15px;
        }
        .progress-item-right {
            width: 100%;
        }
        .progress-percentage {
            font-family: quicksand;
            font-size: 60px;
            font-style: normal;
            font-weight: 700;
            line-height: 70px;
            background-image: linear-gradient(90deg, #FF7369, #FFB06D);
            background-clip: text;
            -webkit-background-clip: text; /* for safari */
            color: transparent;
            @media (max-width: 991px) {
                font-size: 50px;
                line-height: 60px;   
                @media (max-width: 767px) {
                 font-size: 35px;
                 line-height: 1.2;
             }             
         }
     }
     .title-wrap{
        margin-bottom: 10px;
        font-family: Quicksand;
        font-size: 24px;
        font-style: normal;
        font-weight: 600;
        line-height: 34px;
        color: $four_color;
    }
}

.progress-bar-wrap {
    position: relative;
    .progress-bound {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 20px;
        background-color: #E7E1E1;
        @include border-radius(30px);
        @media (max-width: 991px) {
            height: 15px;
        }
    }
}
.pxl-progress-bar {
    height: 20px;
    position: relative;
    width: 0;
    background-image: linear-gradient(90deg, #FF7369, #FFB06D);   
    box-shadow: 0 4px 30px rgba(255, 132, 105, 0.50);     
    @include transition(width 1.4s ease);
    @include border-radius(30px);
    @media (max-width: 991px) {
        height: 15px;
    }
} 
}